.ahs-main {
    padding: 30px;
}

.ahs-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}

.ahs-filter {
    text-align: center;
    margin-bottom: 25px;
}

.ahs-filter input {
    padding: 10px;
    font-size: 16px;
}

.ahs-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.ahs-table th,
.ahs-table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

.no-data {
    padding: 25px;
    font-size: 18px;
}

.status-ok {
    color: green;
    font-weight: bold;
}

.status-not {
    color: red;
    font-weight: bold;
}

.rework-badge {
    background: red;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
}

.ok-badge {
    background: green;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
}

.audio-btn {
    padding: 5px 12px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.rework-btn {
    padding: 6px 14px;
    background: orange;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
